{% extends 'base.html' %}


<!-- Nav Bar -->
{% block nav-content %}
<a class="navbar-brand mt-3" href="{% url 'home_page' %}">Home</a>
{% endblock nav-content %}


<!-- Master Head (Main Content) -->
{% block main-content %}
<div class='main-div d-flex flex-column bd-highlight mb-3'>
    <div class="row d-flex justify-content-around my-5">
        <div class="content-section text-white">
            <h2>You have been logged out</h2>
            <div class="border-top pt-3">
                <small class="text-muted">
                    <a href="{% url 'teacher_login' %}">Log In Again</a>
                </small>
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}