<!-- About-->
<section class="about-section text-center" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8">
                <h2 class="text-white mb-4">Admission Automation System</h2>
                <p class="text-white-50">
                    A simple and easy way to get online admission exam.
                </p>
            </div>
        </div>
        <img class="img-fluid" src="/media/img/graduate.jpg" alt="..." />
    </div>
</section>