{% extends 'base.html' %}


<!-- Nav Bar -->
{% block nav-content %}
<a class="navbar-brand" href="{% url 'home_page' %}">Home</a>
<a class="navbar-brand" href="{% url 'profile' %}">Profile</a>
<div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
    </ul>
</div>
{% endblock nav-content %}


<!-- Master Head (Main Content) -->
{% block main-content %}
<div class='main-div d-flex flex-column bd-highlight mb-3'>
    <div class="row d-flex justify-content-around my-5">
        <div class="content-section text-white">
            {{ user.username }}
        </div>
    </div>
</div>
{% endblock main-content %}