{% extends 'base.html' %}
{% load crispy_forms_tags %}

<!-- Nav Bar -->
{% block nav-content %}
<a class="navbar-brand mt-3" href="{% url 'home_page' %}">Home</a>
{% endblock nav-content %}


<!-- Master Head (Main Content) -->
{% block main-content %}
<div class='main-div d-flex flex-column bd-highlight mb-3'>
    <div class="row d-flex justify-content-around my-5">
        <div class="content-section">
            <div class="col-md-6 d-flex flex-center bd-highlight mb-3">
                <div class="d-flex justify-content-center">
                    <button class="btn btn-primary">
                        <a href="{% url 'student_login' %}">
                            <img src="/media/teacher.png" alt="teacher" height="100px">
                        </a>
                    </button>
                </div>
            </div>
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group text-white">
                    <legend class="border-bottom mb-4">Student Log In</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Login</button>
                </div>
            </form>
            <div class="border-top pt-3">
                <small class="text-muted">
                    Need An Account? <a class="ml-2" href="{% url 'student_register' %}">Sign Up Now</a>
                </small>
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}