{% extends 'base.html' %}
{% block content %}
<div class='main-div d-flex flex-column bd-highlight mb-3'>
    <div class="row d-flex justify-content-around my-5">
        {% include 'stars.html' %}
        {% include 'stars.html' %}
        {% include 'stars.html' %}
    </div>
    <div class="row d-flex justify-content-around my-5">
        <div class="content-section text-white">
            <h2>You have been logged out</h2>
            <div class="border-top pt-3">
                <small class="text-muted">
                    <a href="{% url 'student_login' %}">Log In Again</a>
                </small>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-around my-5">
        {% include 'stars.html' %}
        {% include 'stars.html' %}
        {% include 'stars.html' %}
    </div>
</div>
{% endblock %}